/* Reset Css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
  position: fixed;
  height: 46px;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#header .header-search {
  float: right;
}

#header .header-search:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .header-search-icon {
  font-size: 20px;
  color: #fff;
  line-height: 46px;
  padding: 0 24px;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav li .angle-down-icon {
  font-size: 12px;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  line-height: 46px;
}

#nav li a{
  text-decoration: none;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  list-style-type: none;
  box-shadow: 0 0 10px;
  left: 0;
  top: 100%;
}

#nav .subnav a {
  color: #000;
  display: block;
  padding: 0 12px;
  min-width: 160px;
  line-height: 38px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('../img/slider1.jpg') top center / cover no-repeat;
}

#slider .content {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 47px;
  width: 100%;
  text-align: center;
}

#slider .content .header {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 25px;
}

#slider .content .body {
  font-size: 15px;
}

#content {
  height: 1000px;
}

#footer {

} 
