/* Reset Css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.clear {
  clear: both;
}

.white-text {
  color:#fff !important;
}

.text-center {
  text-align: center !important;
}

.row {

}

.col {

}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.33333%;
}

/* Main content */
#main {

}

#header {
  position: fixed;
  height: 46px;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#header .header-search {
  float: right;
}

#header .header-search:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .header-search-icon {
  font-size: 20px;
  color: #fff;
  line-height: 46px;
  padding: 0 24px;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav li .angle-down-icon {
  font-size: 12px;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  line-height: 46px;
}

#nav li a{
  text-decoration: none;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  list-style-type: none;
  box-shadow: 0 0 10px;
  left: 0;
  top: 100%;
}

#nav .subnav a {
  color: #000;
  display: block;
  padding: 0 12px;
  min-width: 160px;
  line-height: 38px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('../img/band/slider1.jpg') top center / cover no-repeat;
}

#slider .content {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 47px;
  width: 100%;
  text-align: center;
}

#slider .content .header {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 25px;
}

#slider .content .body {
  font-size: 15px;
}

#content {
  height: 1000px;
}

#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;;
}

#content .heading,
#content .sub-heading {
  text-align: center;
}

#content .content-heading {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
}

#content .content-subheading {
  margin: 25px 0;
  font-style: italic;
  opacity: 0.6;
  text-align: center;
}

#content .about-text {
  text-align: justify;
  line-height: 1.6;
}

#content .member-list {
  margin-top: 48px;
  text-align: center;
}

#content .member-item {
  float: left;
  width: 33.33333%;
}

#content .member-name {
  margin-bottom: 15px;
}

#content .member-img {
  width: 154px;
  border-radius: 4px;
}

#content .tour-section {
  background-color: #000;
}

#content .ticket-list {
  background-color: #fff;
  color: #000;
  list-style: none;
}

#content .ticket-item {
  font-size: 15px;
  padding: 8px 16px;
  color: #757575;
  border-bottom: 1px solid #ccc;
}

#content .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 16px;
  padding: 3px 4px;
}

#content .ticket-quantity {
  float: right;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-top: -3px;

}

#content .place-list {
  padding: 32px 0;
  margin: 0 -8px;
}

#content .place-item {
  float: left;
  width: 33.33333%;
  padding: 0 8px;
  font-size: 15px;
}

#content .place-img {
  width: 100%;
  display: block;
}

#content .place-img:hover {
  opacity: 0.6;
}

#content .place-body {
  background-color: #fff;
  color: #000;
  padding: 16px;
}

#content .place-heading {
  font-weight: 600;
}

#content .place-time {
  color: #757575;
  margin-top: 15px;
}

#content .place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

#content .place-buy-btn {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 16px;
  color: #fff;
  background-color: #000;
  border: none;
}

#content .place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
  border: none;
}


#footer {

}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal .modal-container {
  position: relative;
  width: 900px;
  background-color: #fff;
  max-width: calc(100% - 32px);
  animation: modalFadeIn ease 0.5s;
}

.modal .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  color: #fff;
  opacity: 0.8;
}

.modal .modal-close:hover {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
  opacity: 1;
}

.modal .modal-header {
  background-color: #009688;
  color: #fff;
  letter-spacing: 4px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding: 42px 0;
}

.modal .modal-body {
  padding: 16px;
}

.modal .modal-label {
  display: block;
  font-size: 15px;
  line-height: 1.5; 
}

.modal .modal-input {
  display: block;
  padding: 10px;
  margin: 5px 0 16px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 15px;
}

.modal .pay-btn {
  padding: 16px;
  color: #fff;
  background-color: #009688;
  text-align: center;
  text-transform: uppercase;
}

.modal .pay-btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
}

.modal .modal-footer {
  text-align: right;
  margin: 15px;
}

.modal .modal-help {

}

.modal .help-link {
  color: #2196F3;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-130px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}